@import "node_modules/modern-normalize/modern-normalize.css";

body {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0;
  word-wrap: break-word;
  font-weight: 400;
  background-color: #fff;
  color: #7e7e7e;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  height: 100vh;
}
