@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: rgb(17 17 17 / 1);;
  font-family: Poppins;
  line-height: 30px;
  letter-spacing: 0;
  word-wrap: break-word;
  font-weight: 400;
  color: #fff;
  min-height: 100vh;  
}