@import "node_modules/modern-normalize/modern-normalize.css";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
body {
  font-family: Poppins;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0;
  word-wrap: break-word;
  font-weight: 400;
  color: #7e7e7e;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 0 20px;
  position: relative;
  clear: both;
}
@media (max-width: 1600px) {
  .container {
    max-width: 1170px;
  }
}
